# ignore cache and checkpoints
__pycache__/
.ipynb_checkpoints/
.vscode/

# ignore data folder
**/data
data/

# ignore config files
**/twitter_config
twitter_config/

# Ignore template and temporary files
resources/
templates/
**/template.py
template.py
**/tmp
tmp/
**/build
build/
test1/
test2/
test3/
test4/
test5/

# Ignore test data folders
**/test-data
test-data/

# Ignore digitalsherlocks-dev executable
**/digitalsherlocks-dev.exe
digitalsherlocks-dev.exe
